


/**** base body ****/

.calculator-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-image:linear-gradient( to bottom right, #87ceeb,#ffc0cb) ;
}

header {
  border-radius: 5px;
 background-color:#50545d;
}

.display-container {
  padding-bottom: 40px;
  justify-content: center;
  width: 40%;
  background-color: #50545d;
}

input {
  border: none;
  box-shadow: inset 0px 0px 20px 1px gray;
  margin: 15px;
  width: 150px;
}

/**** base main ****/


.add-btn,
.subtract-btn {
  box-shadow: 1px 9px 19px -8px #000, 
  -11px 0px 24px -14px #FFF;
  background-color:#50545d;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 50px;
  width: 20%;
}